<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content *ngIf="currentUser">
      <ion-item>
        <ion-label position="stacked">UID</ion-label>
        <ion-input [value]="currentUser.uid" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Display Name</ion-label>
        <ion-input [value]="currentUser.displayName" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">E-Mail</ion-label>
        <ion-input [value]="currentUser.email" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">E-Mail Verified</ion-label>
        <ion-input [value]="currentUser.emailVerified" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Anonymus</ion-label>
        <ion-input [value]="currentUser.isAnonymous ? 'yes' : 'no'" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Phone Number</ion-label>
        <ion-input [value]="currentUser.phoneNumber" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Photo URL</ion-label>
        <ion-input [value]="currentUser.photoUrl" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Provider ID</ion-label>
        <ion-input [value]="currentUser.providerId" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Tenant ID</ion-label>
        <ion-input [value]="currentUser.tenantId" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">ID Token</ion-label>
        <ion-input [value]="idToken" readonly></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="refreshIdToken()">Refresh ID Token</ion-button>
      <ion-button expand="block" (click)="signOut()">Logout</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
