<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <ion-button expand="block" (click)="signInWithApple()">Apple</ion-button>
      <ion-button expand="block" (click)="signInWithFacebook()"
        >Facebook</ion-button
      >
      <ion-button expand="block" (click)="signInWithGithub()"
        >GitHub</ion-button
      >
      <ion-button expand="block" (click)="signInWithGoogle()"
        >Google</ion-button
      >
      <ion-button expand="block" (click)="signInWithMicrosoft()"
        >Microsoft</ion-button
      >
      <ion-button expand="block" (click)="signInWithPlayGames()"
        >Play Games</ion-button
      >
      <ion-button expand="block" (click)="signInWithTwitter()"
        >Twitter</ion-button
      >
      <ion-button expand="block" (click)="signInWithYahoo()">Yahoo</ion-button>
      <ion-button expand="block" (click)="signInWithPhoneNumber()"
        >Phone</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
